backup node-red R00
[{"id":"a9cd87c8.bafdf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"317fc923.8c5916","type":"http request","z":"a9cd87c8.bafdf","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":240,"wires":[["c6200a1e.144578"]]},{"id":"5245c8b9.307cf","type":"change","z":"a9cd87c8.bafdf","name":"Inflexium -Círculo Católico","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.bewhere.com/accounts/rdVJVxfHif/streams/history","tot":"str"},{"t":"set","p":"headers.Token","pt":"msg","to":"5fca4e8759cd011b73b25dc2b04573cd","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":452,"y":240,"wires":[["317fc923.8c5916"]]},{"id":"872afebc.14eb78","type":"inject","z":"a9cd87c8.bafdf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":240,"wires":[["5245c8b9.307cf","f9c4baf1.e02098","3ae70209.51d70e","185bb71f.e48741","cab47b67.dedc4","8c60cd23.d2f1f","8f09643c.b5b9e"]]},{"id":"c6200a1e.144578","type":"json","z":"a9cd87c8.bafdf","name":"","property":"payload","action":"","pretty":false,"x":930,"y":240,"wires":[["6bf039ea.e996f"]]},{"id":"e5bd85ee.71a5a8","type":"http request","z":"a9cd87c8.bafdf","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":280,"wires":[["2dfb3202.2934f6"]]},{"id":"f9c4baf1.e02098","type":"change","z":"a9cd87c8.bafdf","name":"Inflexium -Centro Médico Salto","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.bewhere.com/accounts/KIkMJrPc31/streams/history","tot":"str"},{"t":"set","p":"headers.Token","pt":"msg","to":"5fca4e8759cd011b73b25dc2b04573cd","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":462,"y":280,"wires":[[]]},{"id":"2dfb3202.2934f6","type":"json","z":"a9cd87c8.bafdf","name":"","property":"payload","action":"","pretty":false,"x":930,"y":280,"wires":[[]]},{"id":"30f61032.510d9","type":"http request","z":"a9cd87c8.bafdf","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":320,"wires":[["1b7489cb.ae40e6"]]},{"id":"3ae70209.51d70e","type":"change","z":"a9cd87c8.bafdf","name":"Inflexium -Prueba Juan Sensores","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.bewhere.com/accounts/7MQ0u5jhqF/streams/history","tot":"str"},{"t":"set","p":"headers.Token","pt":"msg","to":"5fca4e8759cd011b73b25dc2b04573cd","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":472,"y":320,"wires":[[]]},{"id":"1b7489cb.ae40e6","type":"json","z":"a9cd87c8.bafdf","name":"","property":"payload","action":"","pretty":false,"x":930,"y":320,"wires":[[]]},{"id":"1b9a232a.986bcd","type":"http request","z":"a9cd87c8.bafdf","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":360,"wires":[["48dd9e44.01bf5"]]},{"id":"185bb71f.e48741","type":"change","z":"a9cd87c8.bafdf","name":"Inflexium -Hospital Maciel","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.bewhere.com/accounts/iWuC8Qfw8u/streams/history","tot":"str"},{"t":"set","p":"headers.Token","pt":"msg","to":"5fca4e8759cd011b73b25dc2b04573cd","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":452,"y":360,"wires":[["1b9a232a.986bcd"]]},{"id":"48dd9e44.01bf5","type":"json","z":"a9cd87c8.bafdf","name":"","property":"payload","action":"","pretty":false,"x":930,"y":360,"wires":[["6bf039ea.e996f"]]},{"id":"b4d87f9c.0b52f8","type":"http request","z":"a9cd87c8.bafdf","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":400,"wires":[["e96fe568.d7c4a"]]},{"id":"cab47b67.dedc4","type":"change","z":"a9cd87c8.bafdf","name":"Inflexium -Hospital Rio Negro - Fray Bentos","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.bewhere.com/accounts/u6GfBLXVN8/streams/history","tot":"str"},{"t":"set","p":"headers.Token","pt":"msg","to":"5fca4e8759cd011b73b25dc2b04573cd","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":502,"y":400,"wires":[["b4d87f9c.0b52f8"]]},{"id":"e96fe568.d7c4a","type":"json","z":"a9cd87c8.bafdf","name":"","property":"payload","action":"","pretty":false,"x":930,"y":400,"wires":[["6bf039ea.e996f"]]},{"id":"48772dfa.5093bc","type":"http request","z":"a9cd87c8.bafdf","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":440,"wires":[["4764986c.5a4f9"]]},{"id":"8c60cd23.d2f1f","type":"change","z":"a9cd87c8.bafdf","name":"Inflexium","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.bewhere.com/accounts/MCBwmPvj7n/streams/history","tot":"str"},{"t":"set","p":"headers.Token","pt":"msg","to":"5fca4e8759cd011b73b25dc2b04573cd","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":402,"y":440,"wires":[["48772dfa.5093bc"]]},{"id":"4764986c.5a4f9","type":"json","z":"a9cd87c8.bafdf","name":"","property":"payload","action":"","pretty":false,"x":930,"y":440,"wires":[["6bf039ea.e996f"]]},{"id":"e75fd8e.13aeba8","type":"http request","z":"a9cd87c8.bafdf","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":480,"wires":[["dc1bc8c2.0ba398"]]},{"id":"8f09643c.b5b9e","type":"change","z":"a9cd87c8.bafdf","name":"Inflexium -CASMU","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.bewhere.com/accounts/e4K7jtnKsn/streams/history","tot":"str"},{"t":"set","p":"headers.Token","pt":"msg","to":"5fca4e8759cd011b73b25dc2b04573cd","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":432,"y":480,"wires":[[]]},{"id":"dc1bc8c2.0ba398","type":"json","z":"a9cd87c8.bafdf","name":"","property":"payload","action":"","pretty":false,"x":930,"y":480,"wires":[[]]},{"id":"6bf039ea.e996f","type":"function","z":"a9cd87c8.bafdf","name":"","func":"const measurement1 =msg.payload.stream[0].name;\nvar measurement2 =msg.payload.stream[0].accountId;\n\nmsg.payload = [\n    {\n    measurement: measurement2+\"_\"+measurement1.replace(/\\s/g, \"\"),\n    fields: {\n    batt:msg.payload.stream[0].batteryLevel,\n    hum:msg.payload.stream[0].humidity,\n    imp:msg.payload.stream[0].impact,\n    lig:msg.payload.stream[0].light,\n    pres:msg.payload.stream[0].barometricPressure,\n    temp:msg.payload.stream[0].temperature,\n    rssi:msg.payload.stream[0].rssi,\n    latitude:msg.payload.stream[0].latitude,\n    longitude:msg.payload.stream[0].longitude,\n                  },\n        timestamp: new Date()\n    }\n    ];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":240,"wires":[["d0d8a3bb.f7a8e"]]},{"id":"d0d8a3bb.f7a8e","type":"influxdb batch","z":"a9cd87c8.bafdf","influxdb":"7c7f9714.e8f99","precision":"","retentionPolicy":"","name":"","x":1290,"y":240,"wires":[]},{"id":"7c7f9714.e8f99","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"inflexium","name":"","usetls":false,"tls":""}]
